# Environment variables
.env
.env.*

# Python
venv/
venv-linux/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Node / Vite
node_modules/
dist/
dist-ssr/
*.local

# SQLite Database
deepfake.db
*.sqlite3

# Project Specific Date & Models
*.pt
dataset/
model/
results/

# Test/Sample images in root
/*.jpg

# OS Files
.DS_Store
Thumbs.db
